<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a class="dashboard-menu-item" id="dashboard-side-home"      href="{% url 'dashboard:index' %}">Home</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-orders"    href="{% url 'dashboard:orders' %}">Orders</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-products"  href="{% url 'dashboard:products' %}">Products</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-customers" href="{% url 'dashboard:customers' %}">Customers</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-payments"  href="{% url 'dashboard:payments' %}">Payments</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-blogs"     href="{% url 'dashboard:blog-entries' %}">Blogs</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-gallery"   href="{% url 'dashboard:galleries' %}">Galleries</a></li>
            <li><a class="dashboard-menu-item" id="dashboard-side-photos"    href="{% url 'dashboard:photos' %}">Photos</a></li>
        </ul>
    </div>
</div>
