{% extends 'userprofile/base.html' %}
{% load i18n widget_tweaks %}


{% block title %}{% trans "Your password" %} — {{ block.super }}{% endblock %}

{% block password_verb %}Change Password{% endblock password_verb %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'userprofile:profile-password' %}">{% trans "Your Password" %}</a></li>
{% endblock breadcrumbs %}

{% block profile_nav_password %}active{% endblock %}


{% block profile_content %}

    <div class="row content-panel">
        <div class=" col-sm-6 col-md-5 col-lg-4">
            <h3 class="userprofile-section-heading">{% trans "Change Password" %}</h3>

            <form method="POST" action="./" class="password_change">
                {% csrf_token %}
<div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form.oldpassword.errors }}
                        {{ form.oldpassword.label_tag }}
                        {{ form.oldpassword.help_text }}
                        {{ form.oldpassword | add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form.password1.errors }}
                        {{ form.password1.label_tag }}
                        {{ form.password1.help_text }}
                        {{ form.password1 | add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        {{ form.password2.errors }}
                        {{ form.password2.label_tag }}
                        {{ form.password2.help_text }}
                        {{ form.password2 | add_class:"form-control" }}
                    </div>
                </div>
    </div>
                <button class="btn-accent2 btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>

{% endblock profile_content %}
