{% extends 'userprofile/base.html' %}
{% load i18n crispy_forms_tags %}


{% block title %}{% trans "Your password" %} — {{ block.super }}{% endblock %}

{% block password_verb %}Change Password{% endblock password_verb %}


{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'userprofile:profile-password' %}">{% trans "Your Password" %}</a></li>
{% endblock breadcrumbs %}

{% block profile_nav_password %}active{% endblock %}


{% block profile_content %}

    <div class="row content-panel">
        <div class=" col-sm-6 col-md-5 col-lg-4">
            <h3 class="userprofile-section-heading">{% trans "Change Password" %}</h3>

            <form method="POST" action="./" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn-accent2 btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>

{% endblock profile_content %}
