{% extends 'userprofile/base.html' %}
{% load i18n crispy_forms_tags %}


{% block title %}{% trans "Set Password" %} — {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'userprofile:profile-password' %}">{% trans "Your Password" %}</a></li>
{% endblock breadcrumbs %}

{% block profile_nav_password %}active{% endblock %}

{% block password_verb %}Set Password{% endblock password_verb %}   <!-- #ToDo: Choose from 'Set' or 'Change'  -->


{% block profile_content %}

    <div class="row content-panel">
        <div class="col-xs-12">
            <h3 class="userprofile-section-heading">{% trans "Set Password" %}</h3>
        </div>

        <div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3 ">

            <form method="POST" action="{% url 'userprofile:profile-password-set' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn-accent2 btn-block" type="submit" name="action" value="{% trans "Set Password" %}"/>
            </form>
        </div>
    </div>

{% endblock profile_content %}


