{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 tab-background">

                <div>
                    <a href="{% url 'booking:pool' %}"                class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-trophy "></i> Pool</a>

                    <a href="{% url 'account_logout' %}"              class="btn-accent2 pull-right  mar-b-5">        <i class="fa fa-sign-out"></i></a>
                    <a href="{% url 'userprofile:profile-details' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-cogs"></i></a>
                    <a id="new-booking" href="javascript:void(0)"     class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-plus"></i> Book Room</a>
                </div>

                <div>
                    {% if user.is_staff %}
                        <a id="new-booking" href="{% url 'dashboard:index' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-tachometer"></i> Dash</a>
                        <a id="new-booking" href="{% url 'admin:index' %}"     class="btn-accent2 pull-right mar-r-5 mar-b-5">Admin</a>
                    {% endif %}
                </div>
            </div>


            <div class="col-xs-12 tab-background">
                <div  id="calendar"></div>
            </div>


            <div class="col-xs-12 tab-background">
                <span class="">Key: </span>
                {% for location in locations.all %}
                    <p class="label" style="background-color: {{ location.color }}">{{ location.name }}</p>
                {% endfor %}
            </div>

        </div>
    </div>


<div id="add-booking-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tab-background">
            <div id="add-booking-modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock content %}


{% block extra_script %}

    <script src="{% static "js/lib/csrf.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            function bindPopOverButtons(){
                $('.edit-booking').on('click',    function(e){ editBookingGetModal($(e.target).attr("data-edit-booking")); });
                $('.remove-booking').on('click',  function(e){ removeBooking($(e.target).attr("data-remove-booking")); });
            }

            var show_cal = function(){

                $('#calendar').fullCalendar({
                    aspectRatio: 1.5,
                    defaultView: 'agendaWeek',
                    weekends: false,
                    minTime: "07:00:00",
                    maxTime: "22:00:00",

                    forceEventDuration: true,
                    header: {
                        left:   'prev',
                        center: 'title',
                        right:  'month, agendaWeek, agendaDay,  next'
                    },

                    events: '/api/bookings/',

                    eventRender: function (event, element) {
                        var event_id = event.id;
                        element.attr('title', event.title);
                        element.attr('href' , event.href);

                        if(event.user_id == {{ user.id }}){
                            element.popover({
                                'title'    : "",
                                'html'     : true,
                                'placement': 'top',
                                'container': 'body',

                                'template': '<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>',

                                'content':  '<div><a data-edit-booking="'   + event_id + '" class="edit-booking   btn btn-accent1 mar-bot-5 mar-left-5" href="javascript:void(0)">Edit</a>' +
                                            '     <a data-remove-booking="' + event_id + '" class="remove-booking btn btn-accent2 mar-bot-5 mar-left-5" href="javascript:void(0)">Delete</a>' +
                                            '</div>'
                            });
                        }
                    },
                    eventClick:  function(event, jsEvent, view) {
                        var bed_event_id = event.id;
                        $(jsEvent.toElement).popover('show');
                        bindPopOverButtons();
                    },
                    eventReceive: function( event ) {
                    },

                    eventResize: function( event, delta, revertFunc, jsEvent, ui, view ) {
                    },
                    eventResizeStop: function( event, jsEvent, ui, view ) {
                    },
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives'
                });
            };

            show_cal();

            function addBookingModal(){

                $.ajax({
                    type: "GET",
                    url: "/add-booking/",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    cache: true,
                    async: true,
                    success: (function(data) {

                        $("#add-booking-modal-body").empty().append(data);

                        $('#add-booking-modal').modal({
                            show: true,
                            keyboard: true,
                            backdrop: false
                        });
                        $("#add-booking-modal").appendTo("body");
                    }),
                    error: function (xhr, errmsg, err) {
                        alert("Error retrieving booking modal");
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                })
            }

            function editBookingGetModal(booking_id){

                $.ajax({
                    type: "GET",
                    url: "/edit-booking/" + booking_id +  "/",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    cache: true,
                    async: true,
                    success: (function(data) {

                        $("#add-booking-modal-body").empty().append(data);
                        $('#add-booking-modal').modal({
                            show: true,
                            keyboard: true,
                            backdrop: false
                        });
                        $("#add-booking-modal").appendTo("body");
                        $('.popover').popover('hide');

                    }),
                    error: function (xhr, errmsg, err) {
                        alert("Error retrieving booking popup");
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                })
            }

            function removeBooking(booking_id){
                $.ajax({
                    type: "POST",
                    url: "/removebooking/" + booking_id +  "/",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    cache: true,
                    async: true,
                    success : function(data) {

                        data_json = JSON.parse(data);

                        if (data_json.result) {
                            booking_id = data_json.booking_id;
                            $('#calendar').fullCalendar('removeEvents', booking_id);
                            $('.popover').popover('hide');
                        } else {
                            $('.popover').popover('hide');
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        alert("Error removing booking");
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                })
            }

            $('#new-booking').on('click', function(event){
                event.preventDefault();
                addBookingModal();
            });

        });
    </script>
{%  endblock extra_script %}