{% extends "base.html" %}
{% load  widget_tweaks %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-xs-12 tab-background">

            <form action="" method="post" xmlns="http://www.w3.org/1999/html">

                {% csrf_token %}

                <div class="row">

                    {{ form.non_field_errors }}

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.winner.label_tag }}
                            {{ form.winner.help_text }}
                            {{ form.winner | add_class:"form-control" }}
                            {{ form.winner.errors }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.loser.label_tag }}
                            {{ form.loser.help_text }}
                            {{ form.loser | add_class:"form-control" }}
                            {{ form.loser.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.balls_left.label_tag }}
                            {{ form.balls_left.help_text }}
                            {{ form.balls_left | add_class:"form-control" }}
                            {{ form.balls_left.errors }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group" style="padding-top: 26px">
                            <input id="add-booking"

                                   class="btn-accent2 btn-block form-control"
                                   type="submit" value="Save" />
                        </div>
                    </div>
                </div>

            </form>



        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 tab-background">

            <h3 class="header-title">Results</h3>

            <table id="data-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Winner</th>
                    <th>Loser</th>
                    <th class="text-center"># Balls</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.winner.username }}</td>
                        <td>{{ result.loser.username }}</td>
                        <td class="text-center">{{ result.balls_left }}</td>
                        <td >{{ result.created_on }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


        <div class="row">
        <div class="col-xs-12 tab-background">

            <h3 class="header-title">More Stats.....</h3>

        </div>
    </div>



</div>

<div id="add-booking-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tab-background">
            <div id="add-booking-modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){

        $('#data-table').dataTable( {
            "dom": '<"top"fl>t<"bottom"rp><"clear">',
            language: {
                search: "_INPUT_",
{#                searchPlaceholder: "Filter Students...",#}
                "lengthMenu": "_MENU_"
            }
        } );



        });
    </script>
{%  endblock extra_script %}