{% extends "base.html" %}
{% load  widget_tweaks %}

{% block content %}
    <div class="container">
    <div class="row">

        <!-- Duplicate with index for now. Abstract out when we know how this fits into the rookie site -->
        <div class="col-xs-12 tab-background">

            <a href="{% url 'home' %}"           class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-calendar "></i> Calendar</a>

            <a href="{% url 'account_logout' %}"              class="btn-accent2 pull-right mar-b-5">        <i class="fa fa-sign-out"></i></a>
            <a href="{% url 'userprofile:profile-details' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-cogs"></i></a>

            {% if user.is_staff %}
                <a id="new-booking" href="{% url 'dashboard:index' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-tachometer"></i> Dash</a>
                <a id="new-booking" href="{% url 'admin:index' %}"     class="btn-accent2 pull-right mar-r-5 mar-b-5">Admin</a>
            {% endif %}

        </div>






        <div class="col-xs-12 tab-background">

            <h3 class="header-title">New Result</h3>


            <form action="" method="post" xmlns="http://www.w3.org/1999/html">

                {% csrf_token %}

                <div class="row">

                    {{ form.non_field_errors }}

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.winner.label_tag }}
                            {{ form.winner.help_text }}
                            {{ form.winner | add_class:"form-control" }}
                            {{ form.winner.errors }}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.loser.label_tag }}
                            {{ form.loser.help_text }}
                            {{ form.loser | add_class:"form-control" }}
                            {{ form.loser.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            {{ form.balls_left.label_tag }}
                            {{ form.balls_left.help_text }}
                            {{ form.balls_left | add_class:"form-control" }}
                            {{ form.balls_left.errors }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group" style="padding-top: 26px">
                            <input id="add-booking"

                                   class="btn-accent2 btn-block form-control"
                                   type="submit" value="Save" />
                        </div>
                    </div>
                </div>

            </form>



        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 tab-background">

            <h3 class="header-title">Results</h3>

            <table id="data-table" class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 25%">Winner</th>
                    <th style="width: 25%">Loser</th>
                    <th style="width: 10%" class="text-center">Ball#</th>
                    <th style="width: 40%">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td style="width: 25%">{{ result.winner.username }}</td>
                        <td style="width: 25%">{{ result.loser.username }}</td>
                        <td style="width: 10%" class="text-center">{{ result.balls_left }}</td>
                        <td style="width: 40%" >{{ result.created_on|date:'D, j M y, g:i a' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


        <div class="row">
        <div class="col-xs-12 tab-background">

            <h3 class="header-title">More Stats.....</h3>

        </div>
    </div>



</div>

<div id="add-booking-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tab-background">
            <div id="add-booking-modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){

        $('#data-table').dataTable( {
            "dom": '<"top"fl>t<"bottom"rp><"clear">',
            language: {
                search: "_INPUT_",
{#                searchPlaceholder: "Filter Students...",#}
                "lengthMenu": "_MENU_"
            },
            "columnDefs": [
                    { "orderable": true,  "targets": 0 },
                    { "orderable": true,  "targets": 1 },
                    { "orderable": true,  "targets": 2 },
                    { "orderable": true, "targets": 3 }
                ]
        } );



        });
    </script>
{%  endblock extra_script %}