{% extends "base.html" %}
{% load  widget_tweaks %}

{% block content %}

    <div class="container">

        <div class="row">

            <!-- Duplicate with index for now. Abstract out when we know how this fits into the rookie site -->
            <div class="col-xs-12 tab-background">

                <a href="{% url 'home' %}"           class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-calendar "></i> Calendar</a>
                <a href="{% url 'booking:pool-timed' %}"          class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-clock-o"></i> </a>

                <a href="{% url 'account_logout' %}"              class="btn-accent2 pull-right mar-b-5">        <i class="fa fa-sign-out"></i></a>
                <a href="{% url 'userprofile:profile-details' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-cogs"></i></a>

                {% if user.is_staff %}
                    <a id="new-booking" href="{% url 'dashboard:index' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-tachometer"></i> Dash</a>
                    <a id="new-booking" href="{% url 'admin:index' %}"     class="btn-accent2 pull-right mar-r-5 mar-b-5">Admin</a>
                {% endif %}

            </div>


            <div class="col-xs-12 tab-background">

                <div class="row">
                    <div class="col-xs-10">
                        <h3 class="header-title">New Result</h3>
                    </div>
                    <div class="col-xs-2">
                        <button id="pool-rules" class="btn-accent3 btn-sm pull-right"
                                data-toggle="modal" data-target="#pool-rules-modal" data-backdrop="false"
                        ><i class="fa fa-legal"></i> Rules</button>
                    </div>
                </div>


                <form action="" method="post" xmlns="http://www.w3.org/1999/html">

                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-12">
                            {{ form.non_field_errors }}
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form.winner.label_tag }}
                                {{ form.winner.help_text }}
                                {{ form.winner | add_class:"form-control" }}
                                {{ form.winner.errors }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form.loser.label_tag }}
                                {{ form.loser.help_text }}
                                {{ form.loser | add_class:"form-control" }}
                                {{ form.loser.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form.balls_left.label_tag }}
                                {{ form.balls_left.help_text }}
                                {{ form.balls_left | add_class:"form-control" }}
                                {{ form.balls_left.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group" style="padding-top: 26px">
                                <input id="add-booking"

                                       class="btn-accent2 btn-block form-control"
                                       type="submit" value="Save" />
                            </div>
                        </div>
                    </div>

                </form>



            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 tab-background">

                {% if todays_grannies %}
                    <h3 class="header-title">Today's Grannies</h3>
                    {% for granny in todays_grannies %}
                        <div class="alert btn-accent2 pulsate" role="alert">
                            <h3 class="header-title">{{ granny.loser.username }} {{ granny_descriptions|random }} {{ granny.winner.username }}</h3>
                        </div>
                    {% endfor %}

                {% endif %}


                <h3 class="header-title">Results</h3>

                {#                <table id="data-table" class="table table-hover">#}
                {#                    <thead>#}
                {#                    <tr>#}
                {#                        <th style="width: 25%">Winner</th>#}
                {#                        <th style="width: 25%">Loser</th>#}
                {#                        <th style="width: 10%" class="text-center">Elo +|-</th>#}
                {#                        <th style="width: 10%" class="text-center">Ball#</th>#}
                {#                        <th style="width: 40%">Date</th>#}
                {#                    </tr>#}
                {#                    </thead>#}
                {#                    <tbody>#}
                {#                    {% for result, diff in zippedResults %}#}
                {#                        <tr>#}
                {#                            <td style="width: 25%">{{ result.winner.username }}</td>#}
                {#                            <td style="width: 25%">{{ result.loser.username }}</td>#}
                {#                            <td style="width: 10%" class="text-center">{{ diff.winner_elo|floatformat:1 }}</td>#}
                {#                            <td style="width: 10%" class="text-center">#}
                {#                                {% if result.balls_left == 7 %}#}
                {#                                    <a class="btn-accent2 btn-sm mar pulsate">#}
                {#                                        {{ result.balls_left }}#}
                {#                                    </a>#}
                {#                                {% else %}#}
                {#                                    {{ result.balls_left }}#}
                {#                                {% endif %}#}
                {#                            </td>#}
                {##}
                {#                            <td style="width: 40%" ><span style="display: none">{{ result.created_on|date:'ymdHi' }}</span>{{ result.created_on|date:'D, j M, G:i' }}</td>#}
                {#                        </tr>#}
                {#                    {% endfor %}#}
                {#                    </tbody>#}
                {#                </table>#}
                <table id="data-table" class="table table-hover">
                </table>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 tab-background">

                <h3 class="header-title">Stats</h3>


                <table id="data-table-second" class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Elo</th>
                        <th class="text-center">Week Wins</th>
                        <th class="text-center">%</th>
                        <th class="text-center">Week Losses</th>
                        <th class="text-center hidden-xs">Month Wins</th>
                        <th class="text-center hidden-xs">%</th>
                        <th class="text-center hidden-xs">Month Losses</th>
                        <th class="text-center hidden-xs">Year Wins</th>
                        <th class="text-center hidden-xs">%</th>
                        <th class="text-center hidden-xs">Year Losses</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for user, value in stats.items %}
                        {% if value.hide_from_stats is not True %} <!-- hide visitors -->
                            {% if value.wins_year or value.losses_year != 0 %} <!-- don't show the punters who've never played a game -->
                                <tr>
                                    <td>{{ user }}</td>
                                    <td class="text-center">           {{ value.elo|floatformat:0 }}                                                        </td>
                                    <td class="text-center">           {% if value.wins_week    > 0 %} {{ value.wins_week }}                  </td>{% endif %}
                                    <td class="text-center">           {% if value.ratio_week   > 0 %} {{ value.ratio_week|floatformat:1 }}%  </td>{% endif %}
                                    <td class="text-center">           {% if value.losses_week  > 0 %} {{ value.losses_week }}                </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.wins_month   > 0 %} {{ value.wins_month }}                 </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.ratio_month  > 0 %} {{ value.ratio_month|floatformat:1 }}% </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.losses_month > 0 %} {{ value.losses_month }}               </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.wins_year    > 0 %} {{ value.wins_year }}                  </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.ratio_year   > 0 %} {{ value.ratio_year|floatformat:1 }}%  </td>{% endif %}
                                    <td class="text-center hidden-xs" >{% if value.losses_year  > 0 %} {{ value.losses_year }}                </td>{% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

    <div id="pool-rules-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content tab-background">
                <div id="pool-rules-modal-body">

                    <ul class="list-group">
                        <li class="list-group-item">Challenger breaks. If no challenger, coin toss.</li>
                        <li class="list-group-item">One shot on the black</li>
                        <li class="list-group-item">Shots do not carry</li>
                        <li class="list-group-item">No stupid 'doubles' rules, unless you're Michael or Chris</li>
                        <li class="list-group-item">Replace white in Imaginary 'D', not anywhere behind the line</li>
                        <li class="list-group-item">Play down the table after a white foul??</li>
                        <li class="list-group-item">Pot the black off the break = Win</li>
                        <li class="list-group-item">Are we doing "a ball must touch a cushion"? I think this is daft</li>
                        <li class="list-group-item">Any changes? What else???</li>
                    </ul>

                    <button type="button" class="btn btn-accent2 btn-block" data-dismiss="modal">Close</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){

            function show_data_in_table(results_data_json){
                var table = $('#data-table').DataTable( {
                    destroy : true,
                    dataType: "json",
                    order   : [[ 4, "asc" ]],
                    data    : results_data_json[0],
                    columns: [
                        //{ title:"id",              data: "id" },
                        { title:"winner",          data: "winner" },
                        { title:"loser",           data: "loser" },
                        { title:"elo",             data: "elo" },
                        { title:"balls_left",      data: "balls_left" },
                        { title:"date",            data: "date" },
                    ]
                } );

                table.order()
            }

            $.ajax({
                type: "GET",
                url:  '/api/pool-results/',
                dataType : "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                cache: true,
                async: true,
                success: (function(data) {
                    show_data_in_table([data['data']])
                }),
                error: function (xhr, errmsg, err) {
                    alert("Results Error - Sorry!");
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });


            $('#data-table-second').dataTable( {
                "dom": '<"top">t<"bottom"rp><"clear">',
                {#            "scrollX": true,#}
                "order": [[ 1, "desc" ],[ 9, "desc" ]],
                "pageLength": 50,
                language: {
                    search: "_INPUT_",
                    "lengthMenu": "_MENU_"
                },
                {#            "columnDefs": [#}
                {#                { "orderable": true,  "targets": 0 },#}
                {#                { "orderable": true,  "targets": 1 },#}
                {#                { "orderable": true,  "targets": 2 },#}
                {#                { "orderable": true,  "targets": 3 },#}
                {#                { "orderable": true,  "targets": 4 },#}
                {#                { "orderable": true,  "targets": 5 },#}
                {#                { "orderable": true,  "targets": 6 },#}
                {#                { "orderable": true,  "targets": 7 },#}
                {#                { "orderable": true,  "targets": 8 }#}
                {##}
                {#                ]#}
            } );



        });
    </script>
{%  endblock extra_script %}
