{% extends "base.html" %}
{% load  widget_tweaks %}

{% block content %}

    <div class="container">

        <div class="row">

            <!-- Duplicate with index for now. Abstract out when we know how this fits into the rookie site -->
            <div class="col-xs-12 tab-background">

                <a href="{% url 'home' %}"           class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-calendar "></i> Calendar</a>
                <a href="{% url 'booking:pool' %}"                class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-trophy "></i> Pool</a>

                <a href="{% url 'account_logout' %}"              class="btn-accent2 pull-right mar-b-5">        <i class="fa fa-sign-out"></i></a>
                <a href="{% url 'userprofile:profile-details' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-cogs"></i></a>

                {% if user.is_staff %}
                    <a id="new-booking" href="{% url 'dashboard:index' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-tachometer"></i> Dash</a>
                    <a id="new-booking" href="{% url 'admin:index' %}"     class="btn-accent2 pull-right mar-r-5 mar-b-5">Admin</a>
                {% endif %}

            </div>


            <div class="col-xs-12 tab-background">
                        <h3 class="header-title">New Timed Result</h3>

                <form action="" method="post" xmlns="http://www.w3.org/1999/html">

                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xs-12">
                            {{ form.non_field_errors }}
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form.person.label_tag }}
                                {{ form.person.help_text }}
                                {{ form.person | add_class:"form-control" }}
                                {{ form.person.errors }}
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                {{ form.time.label_tag }}
                                {{ form.time.help_text }}
                                {{ form.time | add_class:"form-control" }}
                                {{ form.time.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group" style="padding-top: 26px">
                                <input id="add-booking"

                                       class="btn-accent2 btn-block form-control"
                                       type="submit" value="Save" />
                            </div>
                        </div>
                    </div>

                </form>



            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 tab-background">



                <h3 class="header-title">Speed Results</h3>

                <table id="data-table" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 25%">User</th>
                        <th style="width: 25%">Speed</th>
                        <th style="width: 40%">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in speedruns %}
                        <tr>
                            <td style="width: 25%">{{ result.person.username }}</td>
                            <td style="width: 25%">{{ result.time|time:'G:i' }}</td>
                            <td style="width: 40%" ><span style="display: none">{{ result.created_on|date:'ymdHi' }}</span>{{ result.created_on|date:'D, j M y, g:i a' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>


{% endblock content %}


{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function(){

            $('#data-table').dataTable( {
                "dom": '<"top"fl>t<"bottom"rp><"clear">',
                "order": [[ 1, "asc" ]],
                language: {
                    search: "_INPUT_",
                    {#                searchPlaceholder: "Filter Students...",#}
                    "lengthMenu": "_MENU_"
                },
{#                "columnDefs": [#}
{#                    { "orderable": true,  "targets": 0 },#}
{#                    { "orderable": true,  "targets": 1 },#}
{#                    { "orderable": true,  "targets": 2 },#}
{#                    { "orderable": true, "targets": 3 }#}
{#                ]#}
            } );

        });
    </script>
{%  endblock extra_script %}
