{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_script %}

    {% render_bundle 'main' %}

{% endblock extra_script %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-xs-12 tab-background">

                <a href="{% url 'home' %}"           class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-calendar "></i> Calendar</a>
                <a href="{% url 'booking:pool-timed' %}"          class="btn-accent2 mar-r-5 pull-left mar-b-5"> <i class="fa fa-clock-o"></i> </a>

                <a href="{% url 'account_logout' %}"              class="btn-accent2 pull-right mar-b-5">        <i class="fa fa-sign-out"></i></a>
                <a href="{% url 'userprofile:profile-details' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-cogs"></i></a>

                {% if user.is_staff %}
                    <a id="new-booking" href="{% url 'dashboard:index' %}" class="btn-accent2 pull-right mar-r-5 mar-b-5"><i class="fa fa-tachometer"></i> Dash</a>
                    <a id="new-booking" href="{% url 'admin:index' %}"     class="btn-accent2 pull-right mar-r-5 mar-b-5">Admin</a>
                {% endif %}
            </div>
        </div>

        <div id="app" class="row">

        </div>

    </div>

{% endblock content %}
