{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Activate your account" %}{% endblock %}

{% block content %}
    <div class="auth-heading">
        <h2 class="text-center">{% trans "Confirm Email/Registration Comlete" %}</h2>
    </div>

    <div class="auth-content">
        <p class="text-center">
            {% blocktrans %}
                Thanks!
            {% endblocktrans %}
        </p>
        <p class="text-center">
            {% blocktrans %}
                Please check your email to activate your account.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
