{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="data-table-header data-table-header--no-data">
                <span class="card-title black-text">{% trans "Something here?" %}</span>
            </div>


                <div class="data-table-container">
                    <table class="bordered hoverable responsive data-table">
                        <thead>
                            <tr>
                                <th>{% trans "Anything" %}</th>
                                <th>{% trans "worth" %}</th>
                                <th>{% trans "seeing" %}</th>
                                <th class="text-right">{% trans "?" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                                <tr>
                                    <td><a href=""></a></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"></td>
                                </tr>

                        </tbody>
                    </table>
                </div>
        </div>

    </div>
</div>
{% endblock content %}
