
//all auth/social
.auth-background-image {
  background: url("/static/img/droplets.jpg") no-repeat center;
  background-size: cover
}


.error-background-image {
  background: url("/static/img/background-error.jpg") no-repeat center center fixed;
  background-size: cover
}