

//.fc-button, .fc-state-active,.fc-state-disabled,.fc-state-down,.fc-state-hover {
//    color: white!important;
//    background-color: red!important;
//    border-radius: 0;
//
//}
.fc-today{
  background: #6b6b6b!important;
}

//.fc button{
//  padding-left: 3px;
//  padding-right: 4px;
//}

@media (max-width: $screen-sm-min){
  .fc .fc-toolbar>*>* {
    float: left;
    margin-left: .25em;
  }
}




.datetimepicker{
  color: rgba(0, 0, 0, 0.84);
}