

$background-color: rgba(236, 43, 43, 0.91);

$panel-color: grey;
$box-shadow-mixin-value: 3;

$breadcrumb-color: rgba(255, 255, 255, 0.91);

$datatable-tr-color : map_get($grey, darken-2);
$table-td-color  : map_get($grey, lighten-5);



$input-border-color: #536dfe !important;

