

@import "app_dashboard";
@import "../datatables";


#dash-photo-multi {
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: relative;
    left: 0;
    visibility: visible;
  }
}

#cke_id_content{
  width: 100% !important;
}

#blog-content-editor{
  div{
    margin-left: 0;
  }
}





